<div>You are on the homepage</div>
<div>

  <label for="restaurant-search">Search for restaurants:</label>
  <input
    type="search"
    id="restaurant-search"
    placeholder="Search for a restaurant"
  />

  <button>Search</button>
</div>